<div id="user-show" class="container text-center">
    <h1 style="margin-bottom: 75px;">
        Welcome <%= @user.name.capitalize %>
    </h1>
<img style="margin-bottom: 45px" src="https://previews.123rf.com/images/lizardfilms/lizardfilms1712/lizardfilms171200556/91496254-meal-ingredients-on-the-table-food-preparation.jpg" height="200px" width="360px">



    <div class="myrecipes text-center">
        <h3>My Recipes:</h3>

        <ul><% @user.recipes.each do |recipe|%>
        <li><%= link_to recipe.title, user_recipe_path(recipe.user_id, recipe) %> - <%= recipe.pet_category.name %></li>
        <% end %>
        </ul>
        <h4><%= link_to "Add a Recipe", new_user_recipe_path(current_user) %></h4>
    </div>
</div>